@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

$active-theme: $light;
$enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $color-neutral-black;
$color-background-default: $color-neutral-white;
$color-text-interactive-default: $color-primary-400;
$color-text-interactive-hover: $color-primary-400;

// // set to 0 to disable
// $letter-spacing-loose: 0;

$border-radius-1: $size-2;
$border-radius-2: $size-4;

// // body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1.5;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;
$link-decoration-default: none;
$link-decoration-hover: underline;
$link-font-weight: $font-weight-semi-bold;

$heading-font-family: $font-family-accent;
$heading-color-default: $color-neutral-black;
$heading-font-weight: $font-weight-extra-bold;
$heading-letter-spacing: -0.02em;
$heading-line-height: 1.1;
$heading-text-transform: none;

$heading-1-font-size: $font-size-900;
$heading-1-color: $color-primary-400;
$heading-2-font-size: $font-size-800;
$heading-2-color: $color-primary-400;
$heading-3-font-size: $font-size-700;
$heading-3-color: $heading-color-default;

// // layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: clamp(5rem, 10vh, 6rem);

$container-min-margin-inline: $size-4;
$container-max-width: 1120px;
$container-max-width-narrow: 840px;
// $container-max-width-wide: 75rem;

// // site header
$site-header-background-color: transparent;
$site-header-color: $color-primary-400;
$site-header-padding: $size-10 0;
$site-header-margin: 0;
$site-header-jusitifcation-small-screens: space-between;
$site-header-jusitifcation-large-screens: space-between;
$site-header-alignment: center;

// // // skip navigation
$skip-nav-color: $color-primary-200;
$skip-nav-background-color: $color-primary-500;
$skip-nav-padding: $size-4 $size-8;
$skip-nav-outline-color: $color-accent-400;
$skip-nav-outline-size: 2px;
$skip-nav-outline-offset: 3px;
$skip-nav-position: center;

// //navigation
$navigation-color: $site-header-color;
$navigation-color-hover: $site-header-color;
$navigation-font-size: $font-size-400;
$navigation-gap: $size-8;
$navigation-link-text-decoration: none;
$navigation-font-family: $body-font-family;
$navigation-font-weight: $font-weight-semi-bold;

// // site footer
$footer-background-color: transparent;
$footer-text-color: $color-neutral-200;
$footer-link-color: $color-text-interactive-default;
$footer-link-color-hover: $color-text-interactive-hover;
$footer-link-font-family: $font-family-base;
$footer-link-text-decoration: none;

// // buttons
$button-font-family: $body-font-family;
$button-font-size: $font-size-400;
$button-font-weight: $font-weight-semi-bold;
$button-text-transform: none;
$button-padding: $size-5 $size-8;
$button-border: 0;
$button-border-radius: $border-radius-2;

// $button-accent-color: $color-neutral-100;
// $button-accent-background: $color-accent-400;
// $button-accent-color-hover: $color-neutral-100;
// $button-accent-background-hover: $color-accent-500;
// $button-primary-color: $color-neutral-100;
// $button-primary-background: $color-primary-700;
// $button-primary-color-hover: $color-neutral-100;
// $button-primary-background-hover: $color-primary-800;

// // cards
// $card-flow-spacing: $size-2;
// $card-padding: $size-8;
// $card-shadow: $box-shadow-1;
// $card-border-radius: $border-radius-2;
// $card-background-default: $color-primary-100;
// $card-color-default: $body-text-color;
// $card-font-family: $body-font-family;
// $card-line-height: 1.25;
// $card-heading-color-default: $card-color-default;
// $card-heading-font-size: $font-size-600;

// // forms
// $form-label-color: $body-text-color;
// $form-label-font-family: $body-font-family;
// $form-label-font-weight: $font-weight-bold;
// $form-label-font-size: $body-font-size;

// $form-input-color: $body-text-color;
// $form-input-font-family: $body-font-family;
// $form-input-font-weight: $font-weight-semi-bold;
// $form-input-font-size: $body-font-size;
// $form-input-background-color: $color-neutral-100;
// $form-input-border-default: 3px solid $color-primary-200;
// $form-input-border-focus: 3px solid $color-primary-400;
// $form-input-padding: $size-3;
// $form-input-border-radius: $border-radius-1;

// $form-placeholder-color: $color-primary-300;
// $form-placeholder-font-family: $form-input-font-family;
// $form-placeholder-font-weight: $form-input-font-weight;
// $form-placeholder-font-size: $body-font-size;

// $form-group-spacing: 0.5rem;
