@use "../abstracts/" as *;

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  background-color: $body-background-color;
  line-height: $body-line-height;
}

a {
  color: $link-color;
  font-weight: $link-font-weight;
  text-decoration: $link-decoration-default;
}

a:is(:hover, :focus) {
  color: $link-color-hover;
  text-decoration: $link-decoration-hover;
}
